.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  position: absolute;
  top: 10px;
  right: 10px;
}

.content-container {
  flex: 1;
  display: flex;
}

.calculator-container,
.history-container {
  flex: 1;
  overflow: auto;
}
